<div class="row learning-class">
   <div class="row title-learning"><h1>exploreHaiku</h1></div>
   
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1 col-lg-4 col-lg-offset-1 fuji-well">
        <h3>About:</h3>
        <p>Haiku is a form of traditional Japanese verse. It usually consists of a three-line poem with seventeen "on" (typically translated to syllables), written in a 5 / 7 / 5 count. Often focusing on images from nature, haiku emphasizes simplicity and directness of expression.</p>
        
        <p>Frequently the directness of haiku is exemplified by the inclusion of a "kireji" or "cutting word". The kireji finds its' home between two contrasting images.</p>
        
        <p>Haiku began in thirteenth-century Japan as the opening phrase of renga, an oral poem, which was also composed syllabically. The much shorter haiku broke away from renga in the sixteenth-century.</p>

    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2 fuji-well">
        <h3>Anatomy</h3>
        <p class="left-align">The first stanza should be 5 syllables</p>
        <p class="center-align">An old silent pond...</p>
        <p class="left-align">The second should be 7</p>
        <p class="center-align">A frog jumps into the pond,</p>
        <p class="left-align">The last, 5 syllables again</p>
        <p class="center-align">splash! Silence again.</p>
        <p class="left-align">Notice the use of "splash" between the image of a from jumping and the stillness of the pond. (kireji)</p>
        <p>by Basho (1644-1694)</p>
    </div>
    <div class="row"><div class="col-xs-4 col-xs-offset-5"><a class="learn-login btn" href="/#/login">Log In</a></div></div>
</div>
