@font-face {
    font-family: ItsAMario;
    src: url(Pixel%20Emulator.otf);
}

body {
    font-family: ItsAMario;
}

h1 {
    background-color: #0CC62F;
}
.h3 {
    display: inline;
    font-size= 2e;
    height: auto;
    color: red;
}

footer {
    background-color: blue;
    color: white;
    margin: 20px;
}

.bottom-trouble {
    margin: 20px;
}