body {
    background-color: #111111;
}

h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 4em;
}

p {
    color: #eeeeee;
    font-size: 4em;
    line-height: 2em;
}

 p .credits{
    color: #49DAFF;
    font-style: underline;
}

p .credits:hover {
    cursor: pointer;
}

.film-description{
    font-size: .8em;
    font-style: italic;
}