li {
    display: inline;
}

.img-responsive {
    -webkit-animation: fadein 2.5s;
    width: "6000";
    height: "4000";
    display: inline-block;
}


@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.email-bar {
    height: 80px;
    padding: 30px;
    background-color:  #f3c3ac;
}

.follow {
    text-align: center;
    height: 90px;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
    border-right:2px solid grey;
}

.following {
    padding: 5px;
}