.top {
    height: 100px;
    background-color: dodgerblue;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    color: white;
}

.form-group {
    height: 100px;
    text-align: center;
    margin: 5px;
    
}

.panel-heading {
    background-color: burlywood;
}
