/*nav-bar*/

.nav { 
    background-color: black;
    height: 40px;
}
.nav a {
    position: relative;
    top: 10px;
    left: 10%;
    margin: 5%;
    padding: 4px;
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
    color: skyblue;
    border: 2px solid skyblue;
    text-decoration: none;
}
.nav a:hover {
    color: black;
    background-color: skyblue;
}
.bottom {
    background-color: pink;
    height 100px;
}


/*home page*/
.home-page {
    height: 100vh;
    background-image: url("images/blossom.jpg");
    background-size: cover;
}
.btn-round {
    border-radius: 24px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 50px;
    color: white;
}
.btn-round:hover {
    background-color: pink;
    border: 3px solid black;
}
.top-button {
    margin-top: 150px;
}
.home-page input:focus {
    outline: pink solid;
}
.home-page .form-group .btn{
    background-color: pink;
}

/*profile-page*/

.my-page {
    height: 100vh;
    background-image: url("images/wall.jpg");
    background-size: cover;
}
.my-page-welcome {
    font-family: 'Montserrat', sans-serif;
    color: skyblue;
    font-size: 50px;
    margin: 100px;
    text-align: center;
}
.make-button {
    color: white;
    margin: 50px;
    margin-top: 20px;
}
.make-button:hover {
    background-color: skyblue;
}
.form-control {
    margin-left: 50px;
    margin-top: 20px;
    border: 3px solid black;
    font-family: 'Montserrat', sans-serif;
}
#add-haiku {
    border-radius: 24px;
    background-color: black;
    width: 100%;
    margin: 50px;
    color: white;
}
#add-haiku:hover {
    background-color: skyblue;
    color: black;
    border: 3px solid black;
}
.showing-poems {
    
   background-color: #bc402d;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.well {
    background-color: white;
    border: 5px solid black;
    color: black;
    margin-top: 20px;
}
.well:hover {
    background-color: #993341;
    border-color: skyblue;
    color: white;
}
.glyphicon-trash {
    position: relative;
    left: 45%;
    color: black;
}
.glyphicon-trash:hover {
    color:skyblue;
}
.glyphicon-pencil {
    position: relative;
    right: 45%;
    color: black;
}
.glyphicon-pencil:hover {
    color:skyblue;
}
.form-middle .form-control{
    width: 80%;
}
.form-middle .edit-button {
    background-color: skyblue;
    color: black;
}

/*learn more page*/
.learning-class {
    height: 150vh;
    background-image: url("images/fuji.jpg");
    background-size: cover;
}
.title-learning {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    height: 10vh;
}
.fuji-well {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    border: 3px solid black;
    height: 60vh;
}
/*explore*/
.explore-class {
    height: 100vh;
    background-image: url("images/fish.jpg");
    background-size: cover;
}
.explore-btn:hover {
    background-color: #692039;
    color: white;
}
