#top-bar {
    height: 150px;
    background-color: lightseagreen;
    font-size: 30px;
    text-align: center;
}

#top-bar div{
    margin-top: 40px;
}

#top-bar a {
    text-decoration: none;
    color: white;
    font-family: 'Spirax', cursive;
}

.top-gear {
    margin-right: 20px;
}

.head-home {
    color: lightseagreen;
    font-family: 'Spirax', cursive;
}
image {
    width: 200px;
    height: 200px;
}
.names {
    font-family: 'Spirax', cursive;
    color: lightseagreen;
    font-size: 30px;
}

.each {
    margin: 10px;
}
