<div class="row">
    <div class="col-xs-12 col-lg-12" ng-repeat="item in houseInformation">
        <h1 class="credits targ-title">{{item.name}}</h1>
        <div class="row">
            <img class="img-responsive stark-img" src="https://s-media-cache-ak0.pinimg.com/564x/9a/89/d6/9a89d61f0a73a00a1e56ec4e8955e6bb.jpg">
            <h3 class="targ-words">"{{item.words}}"</h3>
            <p class="stark-para">House Targaryen is a former Great House of Westeros and was the ruling royal House of the Seven Kingdoms for three centuries, before it was deposed during Robert's Rebellion and House Baratheon replaced it as the new royal House. The few surviving Targaryens fled into exile. Currently based in Essos, House Targaryen seeks to retake the Seven Kingdoms from House Lannister, who formally replaced House Baratheon as the royal House following the destruction of the Great Sept of Baelor.</p>
            <p class="stark-para">In the A Song of Ice and Fire novels, House Targaryen moved from Valyria to Dragonstone, then the most far-flung outpost of the Valyrian Freehold, apparently in fear of a prophecy predicting the destruction of Valyria a century before it happened. After the fall of Valyria, the Targaryens stayed on Dragonstone for a hundred years, apparently hoarding the strength of their dragons and debating whether to invade Westeros or to attempt to seize control of the Valyrian colony-states which later became known as the Free Cities. When the time came, the Targaryens ultimately assisted the Free Cities in asserting their independence and then proceeded to invade Westeros.</p>
            <p class="stark-para">The generations of Targaryen inbreeding produced a distinctive set of physical features shared by all of their members during the House's three centuries of rule. This includes a generally pale appearance with silver-white (platinum blonde) hair and purple irises. While pale, they are not albinos, although their eyebrows are white. The actors playing Daenerys and Viserys are actually both dark-haired, so they had to wear wigs, although the production team decided not to dye their eyebrows to match. </p>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12" ng-repeat="item in names">
    <div class="row"><h1>{{item.name}}</h1></div>
    <div ng-show="item.aliases" class="row">{{item.aliases}}</div>
    </div>
</div>

