<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <h1>Your Races</h1>
        </div>

        <!--        show races-->

        <div class="row">
            <div class="col-xs-10 col-xs-offset-1" ng-repeat="race in schedule track by $index">
                <button class="btn trash-panda" ng-click="delete(race, $index)"><i class="glyphicon glyphicon-trash" ng-click="delete(poem, $index)"></i></button>
                <button class="btn show-race" ng-click="showRace = !showRace">{{race.title}}</button>
                <div ng-show="showRace" class="row display-weeks" ng-class-even="'even-week'" ng-class-odd="'odd-week'" ng-repeat="week in race.weeks track by $index">

                    <h3>Week {{$index + 1}} : </h3>
                    <div class="col-xs-10 col-xs-offset-1 sample-day well" ng-repeat="day in week.days track by $index" ng-class-even="'even-day'" ng-class-odd="'odd-day'">
                        <h4>Day {{$index + 1}}</h4>
                        <div ng-hide="adjusting">
                            <div ng-hide="day.restDay">Jog: {{day.joggingTime}} mins</div>
                            <div>{{day.restDay}}</div>
                            <div ng-hide="day.restDay">Walk: {{day.walkingTime}} mins</div>
                            <div ng-hide="day.restDay">Repeat: {{day.repetitions}} times</div>
                            <div ng-hide="day.restDay">Total: {{day.joggingTime * day.repetitions || ""}} mins</div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            sample schedule-->

            <div class="row">
                <form class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1 form-group" ng-repeat="schedule in example.weeks track by $index">
                    <div class="row">
                        <h3>Week {{$index + 1}} : </h3>
                        <div class=" col-xs-10 col-xs-offset-1 sample-day well" ng-repeat="day in schedule track by $index">
                            <h4>Day {{$index + 1}}</h4>
                            <div ng-hide="adjusting">
                                <div ng-hide="day.restDay">Jog: {{day.joggingTime}} mins</div>
                                <div>{{day.restDay}}</div>
                                <div ng-hide="day.restDay">Walk: {{day.walkingTime}} mins</div>
                                <div ng-hide="day.restDay">Repeat: {{day.repetitions}} times</div>
                                <div ng-hide="day.restDay">Total Time:{{day.joggingTime * day.repetitions || ""}} mins </div>
                            </div>
                            <div ng-show="adjusting">
                                <input class="form-control" placeholder="{{day.joggingTime}}" ng-model="change.joggingTime">
                                <input class="form-control" placeholder="{{day.walkingTime}}" ng-model="change.restDay">
                                <input class="form-control" placeholder="{{day.walkingTime}}" ng-model="change.repetitions">
                                <input class="form-control" placeholder="{{day.repetitions}}" ng-model="change.totalTime">
                            </div>
                            <button ng-hide="day.restDay" class="btn" ng-click="adjusting = !adjusting">Edit</button>
                            <button ng-hide="day.restDay" type="submit" class="btn" ng-click="adjustSample(day, change); adjusting = !adjusting">Update</button>
                        </div>
                    </div>
                </form>
                <button ng-show="sampling" class="btn col-xs-4 col-xs-offset-4 race-button" ng-click="create(example)">Add Race</button>
            </div>

            <!--form-->

            <div class="row">
                <form class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-group">

                    <input class="form-control" type="text" placeholder="Name of Race" ng-model="race.title" required> Length of Race: <select class="form-control" ng-model="race.length" required>
                    <option value="5k">5k</option>
                    <option value="10k">10k</option>
                    <option value="15k">15k</option>
                    <option value="20k">20k</option>
                    <option value="Half Marathon">Half Marathon</option>
                    <option value="25k">25k</option>
                    <option value="30k">30k</option>
                    <option value="Marathon">Marathon</option>
                </select> It is recommended to train for at least a few weeks before racing!
                    <input class="form-control" placeholder="Number of weeks till race" type="number" ng-model="race.weeks" required>
                    <input class="form-control" placeholder="How many minutes do you currently run in a day?" type="number" ng-model="race.current" required>
                    <button class="btn form-control sample-button" ng-click="sample(race); sampling = !sampling">Sample</button>
                </form>
            </div>
        </div>
    </div>
