
h1 {
    text-align: center;   
}


.only-form {
    border: 3px solid black;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.first-row {
    display: inline-block;
    width: 45%;
}

#top-image {
    resize: both;
    width: 20%;
}
.lower-images {
    text-align: center;
    display: inline-block;
    resize: both;
    width: 30%;
    padding: 5px;
}