h1 {
    color: #a85f39;
    font-family: 'Alegreya', serif;
    font-size: 3em;
    margin: 10px;
    text-align: center;
}

.images {
    width: 500px;
    margin: 10px;
}

.captions {
    color: #a85f39;
    font-family: 'Alegreya', serif;
    font-size: 2em;
    margin: 10px;
    text-align: center;
}
